<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<div class="container">
    <h2>Leave Requests</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Leave Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave_request in leave_requests %}
            <tr>
                <td>{{ leave_request.class.class_name }}</td>
                <td>{{ leave_request.leave_date }}</td>
                <td>{{ leave_request.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div>
    {% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
</div>
